@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    background-color: #1E1E41;
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #48297f;
    border-radius: 40px;
  
  }
body {
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 position: relative;
}

@font-face {
    font-family: montserrt;
    src: url(/font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: aquirebold;
    src: url(font/AquireBold-8Ma60.otf);
}

@font-face {
    font-family: poppins;
    src: url(font/Poppins-SemiBold.ttf);
}

.section {
    width: 100%;
    height: auto;
    padding: 20px 40px;
    margin: 0 0 10px 0;

}

.row {
    width: 90%;
    margin: auto;
    height: auto;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;

}

.txt-center {
    text-align: center;
    font-size: 3em;
    margin: 10px 0;
    font-family: aquirebold;
    margin-bottom: 20px;
    color: #fff;

}



.hero nav {
    width: 90%;
    margin: auto;
    display: flex;
 
    align-items: center;
    justify-content: space-between;
    background: rgba(15, 15, 15, 0.25);
   backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    font-family: Anek Devanagari;
    box-shadow: 0 1px 10px #08CBFF;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    font-size: 1.1rem;
    font-family: poppins;
    font-weight: 600;
    margin: 10px 20px;
    color: #ffffff;
}

ul li a:hover {
    color: aqua;
}

.side-nav{
    display: none;
    position: relative;
    
}

#sidebar-active{
    display: none;
} 
.close-sidebar-button{
  display: none;
}

/* .side-nav .links-container{
    position: absolute;
    right: 0;top: 0;
    width: 300px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: #1f1313;
    z-index: 1;
} */









.hero-logo {

    margin: 1px 25px;


}

.hero-logo img {
    width: 70px;
    height: 70px;
    margin: 2px 10px;

}

.hero .row {
    align-items: center;
    height: 75vh;
    justify-content: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.hero .row .left-sec {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 1px 10px #08CBFF;
    text-align: center;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    line-height: 1;
    

}

.hero .row .left-sec h1 {
    font-size: 6rem;
    letter-spacing: 5px;
    font-family: aquirebold;
    margin: 0;
    color: #0AB5D2;
}

.hero .row .left-sec .running-txt {
    font-size: 2rem;
    color: #00D8ED;
    font-weight: 600;
    margin: 10px 0;

}

.hero .row .left-sec p {
    font-family: Anek Devanagari;
    color: #fff;
    font-size: 20px;
}

.hero .row .left-sec .location {
   
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Anek Devanagari;
    color: #fff;
    font-size: 20px;

}

.hero .row .left-sec .location img {
    width: 30px;
}

.hero .row .left-sec .btns {
    display: flex;
    justify-content: center;
}

.hero .row .left-sec .btns img {
    width: 160px;
    margin: 10px;
    padding: 3px 5px;
    border: 2px solid;
    border-radius: 5px;
    background-color: #ffffff;
}


.hero .right-sec img {
    width: 500px;
    animation: float 4s linear infinite;

}


/* **************************about***************************** */
.about-group,
.trackcontainer,
.timelinebox,
.prize-container,
.team .team-row,
.Partners .sp-row {
    display: flex;
    width: 90%;
    height: 70vh;
    margin: 0 auto;

    background-size: cover;

    background-repeat: no-repeat;
    background-image: url(img/aboutbg.jpg);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 1px 10px #08CBFF;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.about .about-group img {
    height: 110%;
    margin-left: -200px;
    animation: roll 25s linear infinite;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.about .about-group .right-sec {
    flex: 1;
    width: 603px;
    height: 490px;
    padding: 40px 10px;
    color: #1f1313;
    font-family: helvetica;


}

.about .about-group .right-sec p {
    font-family: poppins;
    color: #fff;
    /* font-weight: 500; */
    font-size: 19px;
  
}

.about .about-group .right-sec h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 4px;
}

.about .about-group .right-sec .info {
    margin: 25px 0 15px 0;

    line-height: 1.6rem;

}

.about .about-group .right-sec .info h1 {
    margin-bottom: 7px;
}

.about .about-group .right-sec .info .title {
    color: #1DD8FE;
    font-weight: 900;
    font-size: 15px;
}

.about .about-group .right-sec .info .date {
    color: #fff;
}

/* **********************Tracks*******************************/

 

  

  
  /* .card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, #7A7E97, #4D3990);
    height: 170%;
    animation: rotBGimg 5s linear infinite;
    transition: all 0.2s linear;
  }
  
 
  


/* ***************************timeline****************** */
.timelinebox {
    overflow-x: scroll;
    backdrop-filter: blur(10px);
    background-image: none;



}

.timelinebox img {
    height: 100%;
}

/* **************prize************************** */


.prize-container {
    justify-content: space-between;
    padding: 5px 25px;
    background-image: none;
    flex-wrap: wrap;
   backdrop-filter: blur(7px);
}

.prize-container .prize-text {
   
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px 0;
    font-family: aquirebold;

}

.prize-container .prize-text h1 {
    animation: glow 8s linear infinite;
    letter-spacing: 2px;
    font-size: 6rem;

}

.prize-container .prize-text h1 span {
    font-family: PRIZES;
}

.prize-container .prize-text h4 {
    font-size: 2.5rem;
    /* text-align: center; */

    font-weight: 900;
    margin-top: 20px;
    color: #FF8C00;
}


@keyframes glow {

    0%,
    40%,
    61%,
    70% {
        color: #0e3742;
        text-shadow: none;
    }

    15%,
    41.5%,
    61.2%,
    90.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #B355C7,
            0 0 20px #B355C7,
            0 0 40px #B355C7,
            0 0 80px #B355C7,
            0 0 160px #B355C7;


    }

}

.prize-container .price-txt h4 {
    font-size: 3rem;
}

.prize-container .price-txt h1 span {
    padding: 0;
    margin-left: -25px;
    margin-top: -43px;
}

.prize-container .price-txt h4,
.prize-container .price-txt p {
    font-family: Arial, Helvetica, sans-serif;

}

.prize-container .price-txt h4 {
  
    font-size: 3rem;
    text-align: center;
    font-family: monospace;
    color: #FF8C00;
}

.prize-container .price-txt p {
    margin-top: 8px;
}

.prize-container img {
    width: 500px;
    height: auto;
    border-radius: 10px;

}

/* ********************team******************************* */


.team .team-row
 {
    height: auto;
    flex-direction: column;
    background-image: none;
    /* background-color: rgba(25, 59, 52, 0.7); */
    backdrop-filter: blur(7px); 
    padding: 10px 0;

}

.team .team-row .row1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



}

.team .team-row .row2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;



}

.team .team-row .row3 {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;



}
.team .team-row .user p{
    font-size: 15px;
    color: #fff;
    font-family: poppins;
}
.team .team-row .user {
    width: 225px;
    height: 270px;
    border: 2px dashed #F9D77E;
    border-radius: 9px;
    box-shadow: 0px 5px 8px #F9D77E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    margin: 15px 10px;
    line-height: 1.4;
    background-color: rgba(15, 115, 190, 0.25);
}
.team .team-row .user:hover{
    scale: 1.1;
    transition-duration: 0.5s;
}
.team .team-row .user img {
    margin: auto;
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 3px solid rgb(2, 136, 166);
}
.team .team-row .user img:hover {
    scale: 1.25;
    transition-duration: 0.5s;
}
.user-detail{
    text-align: center;
}

.team .team-row .user .user-detail h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1DD8FE;
}


  
  .card .card-border-top {
    width: 60%;
    height: 3%;
    background: #f5f5;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
  }
  
  .card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
  }
  
  .card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
  }
  
  .card .img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid rgb(2, 136, 166);
    margin: auto;
   
  }
  
  .card button {
    padding: 8px 20px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 14px;
    background: #f5f5;
    color: white;
    font-weight: 600;
  }
  
  .card button:hover {
    background: #f9f9;
  }

/* ************sponsers******************************** */
.Partners .sp-row p{
    font-family: sans-serif;
    color: #FFF;
    width: 70%;
    font-size: 1.5rem;
    display: flex;
   justify-content: center;
   margin: auto;

}
.Partners{
    height: auto;
    margin: 50px;
}
.Partners .sp-row{
    background-image:none ;
  text-align: center;
  flex-direction: column;
  height: auto;
  padding: 20px;
 backdrop-filter: blur(7px);
}

.Partners .sp-row .sp-detail {
    margin: 20px;
    font-family: montserrt;
    
}

.sp-row .sp-detail .sp-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.sp-row .sp-detail .sp-list .sp-box {
    /* background-color:#fff ; */
    backdrop-filter: blur(100px);
    padding: 5px;
    border-radius: 10px;
    width: 165px;
    border-style: solid;
    margin: 15px;
    background-color: #dfda;
}
.sp-box1 {
    border-style: solid;
    background-color: #dfda;
    /* backdrop-filter: blur(40px); */
    padding: 6px;
    border-radius: 10px;
    width: 200px;
    margin: 15px;
}
.sp-box1 {
    border-style: solid;
   
    padding: 6px;
    border-radius: 10px;
    width: 150px;
    margin: 15px;
}
.sp-box3 {

    padding: 6px;
    border-radius: 10px;
    width: 350px;
    margin: 15px;
}
.xyzimg{
    height: 90px;
    width: 150px;
}
#gmcimg{
    width: 310px;
    border-radius: 10px;
}
.sp-row .sp-detail .sp-list .sp-box img {
    width: 100%;
}

.Partners .sp-row .sp-detail .sp-tag h1 {
    color: #D3D3D3;
    font-family: helvetica;
  font-size: 3rem;
  margin-bottom: 10px;
    filter: drop-shadow(0px 0px 4px #c78c0b);
}

.Partners .sp-row .sp-detail #jainX {
    width:95px ;
   
}



/* ************************FAQ's*********************** */
.FAQ {
    height: 100vh;
}

.FAQ .row {
    /* background-color: rgba(81, 77, 77, 0.8); */
    backdrop-filter: blur(4px);
    overflow: hidden;
    padding: 0 auto;
    color: #fff;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 7px;
    height: auto;
    align-items: center;
    font-family: sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 1px 10px #08CBFF;
  
  
  
  }
  
  .faq {
    margin: 0 auto;
  
  }
  
  .faq-box {
    max-width: 530px;
    margin-top: 2rem;
    padding: 10px 15px;
    cursor: pointer;
    background-color: rgba(33, 33, 33, 0.8);
    backdrop-filter: blur(4px);
    border-radius: 10px;
  
  }
  
  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E292E7;
  }
  
  .question h3 {
    font-size: 1.3rem;
  
  
  }
  
  .question .down-arrow {
  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 30px;
  
  
  }
  
  .question .down-arrow img {
    width: 100%;
    color: #FFDE06;
    transition: all ease 0.8s;
  }
  
  .answer {
    overflow: hidden;
    max-height: 0;
    width: 80%;
    transition: max-height 0.3s ease;
  }
  
  .answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
  
  }
  
  .faq-box.active .answer {
    max-height: 300px;
    transition: max-height 1s ease-in-out;
  
  
  }
  
  .faq-box.active img {
    rotate: 180deg;
  }
  
  /* ******************************footer******************* */
  footer {
    width: 100%;
    height: 30vh;
    background-color: rgba(33, 33, 33, 0.8);
    backdrop-filter: blur(4px);
    padding: 25px 100px;
    font-family: sans-serif;
    font-size: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  
  }
  footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
}

footer  ul li a {
    font-size: 1rem;
    font-family: poppins;
    font-weight: 600;
    margin: 10px 20px;
    color: #ffffff;
}

footer  ul li a img{
  width: 30px;
  height: 30px;
}

 footer  ul li a:hover {
    color: aqua;
}

  
  
  
  .footer-logo {
    width: 80px;
    height: 80px;
  }
  
  .footer-logo img {
    width: 100%;
  }
  

  @media screen and (max-width: 1200px) {
    .hero .row .left-sec h1 {
        font-size: 3rem;
    }

    .hero .row .left-sec p {
        font-size: 18px;
    }

    .hero .row .left-sec .location {
        font-size: 18px;
    }

    .hero .row .left-sec .btns img {
        width: 130px;
    }

    .about .about-group .right-sec {
        width: 100%;
        height: auto;
        padding: 20px;
    }
  }
  
    
    
    


@media screen and (max-width: 992px) {
    .hero .row {
        flex-direction: column;
    }

  

    .hero .row .left-sec {
        width: 100%;
    }

  
    .about .about-group {
        flex-direction: column;
    }

    .about .about-group img ,
    .trackss img{
       display: none;
    }

    .about .about-group .right-sec p {
      font-size: 15px;
    }

    .cardcontainer {
        width: 100%;
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* @media screen and (max-width: 768px) {
    .hero nav {
        flex-direction: column;
        align-items: center;
    }

    .hero-logo img {
        width: 50px;
        height: 50px;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    ul li a {
        margin: 10px 0;
    }

    .hero .row .left-sec h1 {
        font-size: 3rem;
    }

    .hero .row .left-sec .running-txt {
        font-size: 1.5rem;
    }

    .hero .row .left-sec p {
        font-size: 16px;
    }

    .hero .row .left-sec .btns img {
        width: 100px;
    }

    .about .about-group .right-sec p {
        font-size: 16px;
    }

    .card {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 576px) {
    .hero .row .left-sec h1 {
        font-size: 2rem;
    }

    .hero .row .left-sec .running-txt {
        font-size: 1.2rem;
    }

    .hero .row .left-sec p {
        font-size: 14px;
    }

    .hero .right-sec img {
        width: 100%;
        height: auto;
    }

    .about .about-group img {
        height: 150px;
    }

    .card {
        width: 100%;
        height: auto;
    }

    .card img {
        height: 120px;
    }
    
    .card-container .card h2 {
        text-align: center;
    }
    .card__description {
        font-size: 13px;
        margin: 0px;
    }
    .track-container .planet-container img {
        width: 431px;
        margin-left: 40px;
    }
    .track-astro {
        z-index: 1;
    }

    
    footer .text-center h1 {
        font-size: 1rem;
    }

    footer {
       
        line-height: 1;
    }

    .prize-container .prize-txt h4{
        margin-top: -77px;
    }

    

}

@media screen and (max-width: 992px) {
  .trackss {
      flex-direction: column;
      height: auto;
  }
  .trackss img {
      width: 80px;
      margin-right: 0;
  }
  .cardcontainer {
      width: 100%;
      flex-direction: column;
  }
  .card {
      width: 100%;
      height: auto;
  }
}

@media screen and (max-width: 768px) {
  .track-container {
      padding: 10px;
  }
  .trackss img {
      width: 60px;
  }
  .card h2 {
      font-size: 1.2em;
  }
}

@media screen and (max-width: 576px) {
  .trackss img {
      width: 50px;
  }
  .card h2 {
      font-size: 1em;
  }
}
   */

   @media screen and (max-width: 450px) {
   nav{
    display: none;
   }
   
    .side-nav{
       display: flex;
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       background-color: #83bac0;
       backdrop-filter: blur(10px);
       align-items: center;
       justify-content: space-between;
       width: 100%;
       height: 10vh;
       padding: 0 20px;
       z-index: 1;
       
    }

    .side-nav .logo{
        display: flex;
    }

    .side-navlogo img {
        width: 50px;
        height: 50px;
        margin: 5px 4px;
    }

    .side-nav nav{
        display: block;
    }

    .menu-bar{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

     .side-nav .links-container{
        position: absolute;
        right: 0;top: 0;
        width: 200px;

        height: 50vh;
        display: flex;
        flex-direction: column;
        background-color: #1f1313;
        z-index: 1;
    }
    .close-sidebar-button{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px 2px;
    }

    .side-nav .links-container ul{
        display: flex;
        flex-direction: column;
       
       
    }

    .side-nav .links-container ul a{
       width: 100%;
       padding: 3px 5px;
       margin: 4px;
       display: block;
       cursor: pointer;
    }

    .side-nav .links-container ul li a:hover{
     color: #c78c0b;
    }


    footer{
        display: none;
    }
    .txt-center h1{
        font-size: 3rem;
    }

    .trackss img{
        display: none;
    }
    .hero-logo{
        margin: 0;
    }
}